  <appSettings>
    <add key="microsoftClientId" value="" />
    <add key="microsoftClientSecret" value="" />
    <add key="twitterConsumerKey" value="" />
    <add key="twitterConsumerSecret" value="" />
    <add key="facebookAppId" value="" />
    <add key="facebookAppSecret" value="" />
    <add key="ipInfoDbKey" value="ENV_IPINFODB_KEY" />
    <add key="BingMapsKey" value="ENV_BINGMAPS_KEY" />
  </appSettings>