@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/sixeyed/diamol/tree/master/ch06/exercises/todo-list" target="_blank">Source Code</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
